:root {
    --color-rus-blue: #578de6;
    --color-rus-red:  #b62022;
    --color-usa-blue: #002147;  /* Old Glory Blue */
    --color-usa-red:  #BB133E;  /* Old Glory Red  */
}


body {
    padding: 30px 15px 20px 15px;
    background-color: #FCFCFC;
    text-align: center;
    font-family: Georgia, Impact, sans-serif;
}

p {
    text-align: center;
}

hr {
    border-width: 1px;
}

#counter-trump {
    text-align: center;
    font-size: 35pt;
    color: #333333;
}

#footer {
    margin-top: 40px;
    color: #999999;
}
